body{
    margin:0px;
    background-color: rgb(77, 76, 75);
}
h1{
    text-align: center;
    color: rgb(255, 106, 0);
    font-size: 50px;
    margin-top: 0px;
}
h2{
    text-align: center;
    color: white;
    font-size: 40px;
    margin-top: 0px;
}
h3{
    color:white;
}
#baner{
    background-color: rgb(77, 76, 75);
    color:orangered;
    font-family:Segoe Print;
    height:100px;
    width:50%;
    float: left;
}
#menu{
    background-color: rgb(255, 106, 0);
    color:white;
    border-bottom-left-radius:100px ;
    display: flex;
    justify-items: center;
    align-items: center;
    height:100px;
    width:50%;
    float: left;
}
#box{
    background-color: rgb(77, 76, 75);
    width: 100%;
    float: left;
}
#left{
    background-color: rgb(77, 76, 75);
    height:600px;
    width:50%;
    float: left;
}
#right{
    background-color: rgb(77, 76, 75);
    height:600px;
    width:50%;
    float: left;
}
#footer{
    background-color: rgb(77,76,75);
    height:60px;
    width:100%;
    clear:both;
}
.menu{
    background-color: rgb(255, 106, 0);
    text-align: center;
    margin-left: 40px;
    padding: 20px;
    width: 100px;
    float: left;
}
.menu:hover{
    background-color: rgb(255, 106, 0);
    color:rgb(77,76,75);
    text-align: center;
    padding: 20px;
    width: 100px;
    float: left;
}

.skill{
    width: 100px;
    height: 300px;
    color:rgb(16, 72, 239);
    text-align: center;
    margin-left: 30px;
    padding:20px;
    box-shadow:0 14px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    float: left;
}
.bar{
    background-color: #353b48;
    display:block;
    position: relative;
    right: 50%;
    height: 20px;
    width: 200px;
    border:1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    transform: rotate(-90deg) translateX(-100px)  ;
    
}
.bar:hover{
    box-shadow:0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
   
}
.bar span{
    height: 20px;
    float:left;
    background:linear-gradient(135deg,  rgb(236, 0, 8)0%, rgb(2, 103, 4)100%);
    /*(135deg,  rgba(236,0,140,1)0%, rgba(252,103,103,1)100%)*/
}
.html{
    width: 90%;
    animation: html 4s;
}
@keyframes html{
    0%{
        width:0%;
    }
    100%{
        width: 90%;
    }
}

.css{
    width: 70%;
    animation: css 3s;
}
@keyframes css{
    0%{
        width:0%;
    }
    100%{
        width: 70%;
    }
}
.js{
    width: 60%;
    animation: js 4s;
}
@keyframes js{
    0%{
        width:0%;
    }
    100%{
        width: 60%;
    }
}
.php{
    width: 40%;
    animation: php 4s;
}
@keyframes php{
    0%{
        width:0%;
    }
    100%{
        width: 40%;
    }
}
#html{
    float:left;
}
#css{
    float: left;
}
.cont .button {
    display: inline-flex;
    height: 60px;
    width: 60px;
    float:left;
    margin: 0 5px;
    overflow: hidden;
    background-color: orangered;
    border-radius: 50px;
    cursor:pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
}
.cont{
    position:absolute;
    left:40%;
}
.cont .button:hover{
    width: 280px;
    text-align: center;
}
.cont .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    margin-left: 10px;
    align-items: center;
}
.cont .button .icon i{
    font-size: 40px;
    line-height: 60px;
    text-align: center;
}

.cont .button span{
    font-size: 20px;
    font-weight: 20;
    line-height: 60px;
    margin-left: 14px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    margin-left: 30px;
    margin-top: 30px;
    z-index: 1;
    height: 600px;
    width:400px;
    box-shadow:0 14px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    float: left;
}
.nap{
    z-index: 2;
    margin-top: 20px;
    color:red;
    text-align: center;
}
.t{
    margin: 150px;
    height: 400px;
    width: 400px;
    border-radius: 300px;
    margin-top: 50px;
    left: 30%;
    float: left;
}
.box-bee{
    background-image: url(img/bee1.png);
    margin-left: 50px;
    margin-top: 50px;
    width: 300px;
    height: 500px;
}
.box-chees{
    background-image: url(img/chess1.png);
    margin-left: 50px;
    margin-top: 50px;
    width: 300px;
    height: 500px;
}
.box-farm{
    background-image: url(img/farmer1.png);
    margin-left: 50px;
    margin-top: 50px;
    width: 300px;
    height: 500px;
}
#zd{
    margin-top: 50px;
    margin-left:50px;
}
.bee{
    color: black;
    text-shadow: 1px 1px 15px orangered;
}
.chess{
    color: white;
    text-shadow: 1px 1px 15px white;
}
.farm{
    color: yellow;
    text-shadow: 1px 1px 15px red;
}
